/* VARIABLES  */

:root {
    --primary: rgb(0, 25, 49);
    --secondary: white;
    --accent: red;
}


/* RESET  */

html {
    margin: 0;
    padding: 0;
}


/* BASE STYLING  */

body,
p,
a,
ul,
li {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li {
    list-style-type: none;
}


/* FONTS  */

.section-header {
    text-align: center;
    padding: 35px 0;
}

h1 {
    font-size: 1.8em;
}

h2,
h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-style: italic;
    font-weight: lighter;
    font-size: 1em;
}

p {
    font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    color: var(--secondary);
    font-family: Arial, Helvetica, sans-serif;
}

::placeholder {
    color: rgba(255, 255, 255, 0.5);
}


/* MOBILE STYLING  */

body {
    background: black;
    overflow-x: hidden;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    box-sizing: border-box;
}

.links {
    display: none;
}

.about-image {
    position: relative;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    max-width: 960px;
    max-height: 540px;
}

#site-nav {
    height: auto;
    max-height: 540px;
    border-bottom: 3px solid black;
}

#site-nav h1 {
    position: absolute;
    top: 0;
    padding: 25px 20px;
    font-size: 1.5em;
}

#site-nav h3 {
    position: absolute;
    top: 60px;
    font-size: 0.8em;
    padding: 15px 20px;
    border-bottom: 3px solid var(--accent);
    /* background-color: black; */
}

#about {
    background-color: black;
}

#about h3 {
    grid-column: 2;
    font-style: italic;
}

.about-text {
    grid-column: 2/8;
    padding: 40px 10px;
    text-align: center;
    border-bottom: 3px solid var(--accent);
}

.button {
    border: 1px solid black;
    border-radius: 4px;
}

.about-image .button {
    grid-row: 2;
}

.about-text .button:hover {
    background-color: var(--primary);
    color: var(--secondary);
}

.record-display {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    box-sizing: border-box;
}

#records {
    background: linear-gradient(black, var(--primary));
    padding-bottom: 30px;
}

.record img {
    position: relative;
    left: -5px;
    width: 100%;
    border: 5px solid black;
    border-radius: 5px;
}

.record {
    align-self: top;
    margin-bottom: 20px;
}

.record h4 {
    padding: 5px 0;
}

.record h5 {
    padding: 5px 0;
}

.record p {
    font-size: 0.9em;
}

.record:nth-child(odd) {
    grid-column: 2/4;
}

.record:nth-child(even) {
    grid-column: 5/7;
}

.record h4,
h5,
p {
    text-align: center;
}

#gallery {
    background-color: black;
}

#gallery .section-header {
    width: 45%;
    border-top: 3px solid red;
    margin-left: auto;
    margin-right: auto;
}

#gallery h4 {
    font-style: italic;
    font-size: 0.8em;
    text-decoration: underline;
}

.image {
    grid-column: 2/8;
}

.image img {
    position: relative;
    width: 80%;
    padding: 0 10%;
    margin-bottom: 20px;
}

.image h4 {
    text-align: center;
    margin-bottom: 20px;
}

#contact {
    background: linear-gradient(black, var(--primary));
    padding: 26px 0;
}

#contact h3 {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: 3px solid var(--accent);
    width: 45%;
}

#contact form {
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.02);
    border: 1px solidrgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

#contact textarea,
#contact input {
    border: 1px solid black;
    display: block;
    background: black;
    width: 70%;
    margin: 10px 0;
    margin-left: auto;
    margin-right: auto;
    color: var(--secondary);
}

input:focus,
textarea:focus {
    outline: none;
}

#contact .button {
    width: 40%;
    margin: 5px auto;
    background: none;
    color: white;
    border: 1px solid white;
}

#contact .button:hover {
    width: 40%;
    margin: 5px auto;
    background: var(--primary);
    color: white;
    border: 1px solid white;
}

footer {
    background: black;
    padding: 30px 0;
}

.copyright {
    font-size: 0.7em;
}

.social-media {
    text-align: center;
}

.social-media p {
    font-size: 0.7em;
}

.social-media a {
    color: white;
    font-size: 1.8em;
    padding: 5px;
}


/* SMALL TABLET  */

@media screen and (min-width: 620px) {
    body {
        font-size: 18px;
    }
    #gallery {
        background-color: black;
    }
    #gallery .section-header {
        width: 45%;
        border-top: 3px solid red;
        margin-left: auto;
        margin-right: auto;
    }
    #gallery .grid .image:nth-child(1) {
        grid-column: 2/5;
        grid-row: 1;
    }
    #gallery .grid .image:nth-child(2) {
        grid-column: 5/8;
        grid-row: 1;
    }
    #gallery .grid .image:nth-child(3) {
        grid-column: 2/5;
        grid-row: 2;
    }
    #gallery .grid .image:nth-child(4) {
        grid-column: 5/8;
        grid-row: 2;
    }
    #gallery .grid .image:last-child {
        /* border: lightgreen 1px solid; */
        width: 75%;
        grid-column: 3/8;
    }
    .image img {
        position: relative;
        width: 80%;
        padding: 0 10%;
        margin-bottom: 20px;
    }
    .image h4 {
        text-align: center;
        margin-bottom: 20px;
    }
}


/* LARGE TABLET AND LAPTOP  */

@media screen and (min-width: 940px) {
    body {
        font-size: 20px;
    }
    #site-nav h1 {
        position: absolute;
        top: 30px;
        padding: 25px 30px;
        background-color: black
    }
    #site-nav h3 {
        position: absolute;
        top: 90px;
        font-size: 1em;
        padding: 15px 30px;
        border-bottom: 3px solid var(--accent);
    }
    /* TODO MOVE LINKS STUFF TO THE TOP? */
    .links {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        background-color: black;
        padding: 15px;
    }
    .links a {
        margin: 10px 5px;
        font-size: 0.9em;
        padding: 5px;
        color: var(--secondary);
        border-bottom: 1px solid var(--accent);
        border-right: 1px solid var(--accent);
    }
    .links a:hover {
        background-color: var(--accent);
    }
    .about-text {
        padding: 40px 0;
    }
    .record {
        width: 150%;
        position: relative;
        left: -25%;
    }
    .record:nth-child(1) {
        grid-column: 2;
    }
    .record:nth-child(2) {
        grid-column: 4;
    }
    .record:nth-child(3) {
        grid-column: 6;
    }
    .record:nth-child(4) {
        grid-column: 8;
    }
    .record-display {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        box-sizing: border-box;
    }
    #contact form {
        width: 100%;
        max-width: 480px;
    }
}


/* FULL SIZE  */

@media screen and (min-width: 1160px) {}