/* VARIABLES  */

:root {
    --primary: rgb(0, 25, 49);
    --secondary: white;
    --accent: red;
}


/* RESET  */

html {
    margin: 0;
    padding: 0;
}


/* BASE STYLING  */

body,
p,
a,
ul,
li {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li {
    list-style-type: none;
}


/* FONTS  */

@font-face {
    font-family: 'Rubik Regular';
    src: url("assets/Rubik-Regular.ttf") format("ttf");
}

h1 {
    font-size: 2.2em;
}

h2,
h3 {
    font-size: 1.4em;
}

h4,
h5 {
    font-size: 1.1em;
}

p {
    font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
p {
    color: var(--secondary);
    font-family: Arial, Helvetica, sans-serif;
}


/* MOBILE STYLING  */

body {
    background: var(--primary);
    overflow-x: hidden;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    box-sizing: border-box;
}

.links {
    display: none;
}

.about-image {
    position: absolute;
    top: 0;
    width: 100%;
}

.site-nav h1 {
    position: absolute;
    top: 0;
    padding-left: 20px;
}

.site-nav h3 {
    position: absolute;
    top: 60px;
    padding-bottom: 8px;
    padding-left: 20px;
    border-bottom: 3px solid var(--accent);
}

#about {
    position: relative;
    top: 280px;
}

.about-text {
    grid-column: 3/7;
    padding: 20px 10px;
    text-align: center;
    border-bottom: 3px solid var(--accent);
}


/* 
.about-text .button {
    position: absolute;
    bottom: 0;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: var(--secondary);
    color: black;
    margin: 10px 0;
    padding: 5px;
}

.about-text .button:hover {
    background-color: var(--primary);
    color: var(--secondary);
} */

#records {
    background: linear-gradient(darkgrey, black);
}


/* 
#records h3 {
    text-align: center;
    padding: 20px 0;
}

.record:nth-child(odd) {
    grid-column: 1/7;
}

.record:nth-child(even) {
    grid-column: 3/9;
}

.record img {
    width: 80%;
    padding: 0 10%;
    align-self: center;
}

.record h4 {
    text-align: left;
} */


/* SMALL TABLET  */

@media screen and (min-width: 620px) {}


/* LARGE TABLET AND LAPTOP  */

@media screen and (min-width: 940px) {}


/* FULL SIZE  */

@media screen and (min-width: 1160px) {}