/* VARIABLES  */

:root {
    --primary: rgb(0, 25, 49);
    --secondary: white;
    --accent: red;
}


/* RESET  */

html {
    margin: 0;
    padding: 0;
}


/* BASE STYLING  */

body,
p,
a,
ul,
li {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li {
    list-style-type: none;
}


/* FONTS  */

@font-face {
    font-family: 'Rubik Regular';
    src: url("assets/Rubik-Regular.ttf") format("ttf");
}

.section-header {
    text-align: center;
    padding: 35px 0;
}

h1 {
    font-size: 1.5em;
}

h2,
h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-style: italic;
    font-weight: lighter;
    font-size: 1em;
}

p {
    font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    color: var(--secondary);
    font-family: Arial, Helvetica, sans-serif;
}

::placeholder {
    color: lightgray;
}


/* MOBILE STYLING  */

body {
    background: var(--primary);
    overflow-x: hidden;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    box-sizing: border-box;
}

.links {
    display: none;
}

.about-image {
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
    /* display: none; */
}

#site-nav {
    height: auto;
    border-bottom: 3px solid black;
}

#site-nav h1 {
    position: absolute;
    top: 0;
    padding-left: 20px;
    padding-top: 25px;
}

#site-nav h3 {
    position: absolute;
    top: 60px;
    font-size: 1em;
    padding-bottom: 8px;
    padding-left: 20px;
    border-bottom: 3px solid var(--accent);
}

#about {
    /* position: relative; */
    /* top: 280px; */
    background: linear-gradient(black, var(--primary));
}

#about h3 {
    grid-column: 2;
}

.about-text {
    grid-column: 3/7;
    margin-top: 18px;
    padding: 20px 10px;
    text-align: center;
    border-bottom: 3px solid var(--accent);
}

.button {
    border: 1px solid black;
    border-radius: 4px;
}

.about-image .button {
    grid-row: 2;
}

.about-text .button:hover {
    background-color: var(--primary);
    color: var(--secondary);
}

.record-display {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    box-sizing: border-box;
}

#records {
    background: linear-gradient(var(--primary), black);
}

.record img {
    position: relative;
    left: -10px;
    width: 100%;
    border: 10px solid black;
    border-radius: 10px;
}

.record {
    align-self: center;
    margin-bottom: 20px;
}

.record h4 {
    padding: 5px 0;
}

.record h5 {
    padding: 5px 0;
}

.record p {
    padding: 5px 0;
}

.record:nth-child(odd) {
    grid-column: 2/4;
}

.record:nth-child(even) {
    grid-column: 5/7;
}

.record h4,
h5,
p {
    text-align: center;
}

#gallery {
    background-color: black;
}

#gallery .section-header {
    width: 45%;
    border-top: 3px solid red;
    margin-left: auto;
    margin-right: auto;
}

.image {
    grid-column: 2/8;
}

.image img {
    position: relative;
    width: 80%;
    padding: 0 10%;
    margin-bottom: 20px;
}

.image h4 {
    text-align: center;
    margin-bottom: 20px;
}

#contact {
    background: linear-gradient(black, var(--primary));
    padding: 26px 0;
}

#contact h3 {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: 3px solid var(--accent);
    width: 45%;
}

#contact form {
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}

#contact textarea,
#contact input {
    border: 1px solid black;
    display: block;
    background: black;
    width: 70%;
    margin: 10px 0;
    margin-left: auto;
    margin-right: auto;
    color: var(--secondary);
}

input:focus,
textarea:focus {
    outline: none;
}

#contact .button {
    margin: 5px auto;
}

footer {
    background: black;
    padding: 30px 0;
}


/* SMALL TABLET  */

@media screen and (min-width: 620px) {}


/* LARGE TABLET AND LAPTOP  */

@media screen and (min-width: 940px) {}


/* FULL SIZE  */

@media screen and (min-width: 1160px) {}